body {
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 25px 0;
    font-size: 35px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;
    margin-bottom: 30px;
}

.outer-container {
    padding: 60px 25px;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 40px 40px 50px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.orange {
    color: hsl(31, 77%, 52%);
}

.dark-cyan {
    color: hsl(184, 100%, 22%);
}

.very-dark-cyan {
    color: hsl(179, 100%, 13%);
}

button {
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border: 3px solid hsl(0, 0%, 95%);
    padding: 12px 30px;
    margin-bottom: 5px;
}

button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

p, button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

@media (min-width: 980px) {
    .container {
        flex-direction: row;
        max-width: 940px;
        height: 470px;
    }

    .outer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        box-sizing:border-box;
        padding: 0 25px;
        margin: 0;
    }

    .flex-item {
        padding-right: 60px;
    }
}
